.main {
  background-image: url("../assets/images/main-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.header {
  padding: 40px 0;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo img {
  vertical-align: bottom;
}

.menu-list {
  justify-content: space-between;
  min-width: 600px;
  list-style: none;
  display: flex;
}

.menu-item a {
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  color: inherit;
}

.menu-item a:hover {
  border-bottom: 2px solid #ffffff;
}

.currency {
  border: 1px solid #ffffff;
  text-align: center;
  border-radius: 5px;
  line-height: 45px;
  user-select: none;
  cursor: pointer;
  height: 45px;
  width: 45px;
}

.main-content {
  padding: 103px 0 199px;
}

.main-content .container,
.order .container {
  position: relative;
}

.main-info {
  max-width: 608px;
}

.main-small-info {
  background: #d3320f;
  border-radius: 100px;
  padding: 12px 16px;
  display: inline-block;
  font-size: 18px;
}

.main-title {
  font-family: "Merriweather", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 56px;
  line-height: 156px;
  font-size: 120px;
}

.main-text {
  margin-bottom: 56px;
  line-height: 29px;
  font-size: 24px;
}

.button.main-button {
  padding: 20px 63px;
}

.main-image {
  left: calc(100% - 991px);
  position: absolute;
  top: -123px;
}

.why {
  background-image: url("../assets/images/why-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 180px;
}

.why-items {
  grid-template-columns: repeat(3, 312px);
  justify-content: center;
  display: grid;
  gap: 100px;
}

.why-item {
  text-align: center;
}

.products {
  background-image: url("../assets/images/burgers-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1400px;
  padding-bottom: 180px;
}

.products-items {
  grid-template-columns: repeat(3, 384px);
  display: grid;
  gap: 24px;
}

.products-item {
  border: 1px solid #353535;
  background: #211a16;
  border-radius: 16px;
  padding: 30px;
}

.products-item-image {
  transition: all 0.5s ease;
}

.products-item-image:hover {
  transform: scale(1.1);
}

.products-item-extra {
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.products-item-price {
  margin-bottom: 8px;
  line-height: 39px;
  font-size: 32px;
}

.products-item-weight {
  line-height: 19px;
  color: #757575;
  font-size: 16px;
}

.button.product-button {
  align-items: center;
  padding: 19px 35px;
  display: flex;
}

.button.product-button span {
  margin-right: 10px;
}

.order {
  background-image: url("../assets/images/order-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 180px;
  overflow: hidden;
}

.order-image {
  right: calc(100% - 764px);
  position: absolute;
  z-index: -1;
  top: 0;
}

.order-form {
  border: 1px solid #353535;
  padding: 36px 40px 60px;
  background: #211a16;
  border-radius: 16px;
  margin-left: 674px;
  text-align: center;
  max-width: 424px;
}

.order-form-inputs {
  flex-direction: column;
  margin-top: 16px;
  display: flex;
}

.order-form-input {
  background: linear-gradient(95.61deg, #da8023 0%, #e2b438 100%);
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  width: 344px;
  height: 62px;
}

.order-form-input.error {
  background: #ff0000;
}

.order-form-input input {
  border: 1px solid transparent;
  background: #211a16;
  padding: 20px 10px;
  border-radius: 8px;
  color: #ffffff;
  outline: none;
  width: 342px;
  height: 60px;
}

.order-form-inputs button {
  padding: 20px;
}

.order-form-inputs button:disabled {
  background: #343434;
  cursor: not-allowed;
  color: #808080;
}

.footer {
  padding: 60px 0;
}

.footer .container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.rights {
  line-height: 20px;
  font-size: 16px;
}

.loader {
  transition: opacity 0.3s ease-in-out;
  justify-content: center;
  background: #191411;
  align-items: center;
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  top: 0;
}

.loader lottie-player {
  display: block;
  height: 300px;
  width: 300px;
}

.loader.showed {
  opacity: 1;
}

@media screen and (max-width: 1225px) {
  .main,
  .products,
  .order {
    background: none;
  }

  .container {
    padding: 0 15px;
  }

  .header .container {
    flex-wrap: wrap-reverse;
    justify-content: center;
    max-width: 420px;
  }

  .header .logo {
    order: 1;
  }

  .menu {
    margin-top: 20px;
  }

  .menu-list {
    min-width: calc(100vw - 30px);
  }

  .menu-item {
    text-align: center;
    margin: 0 5px;
  }

  .currency {
    margin-left: 20px;
    order: 2;
  }

  .main-image {
    opacity: 0.4;
    z-index: -1;
  }

  .why-items {
    grid-template-columns: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
  }

  .products-items {
    grid-template-columns: repeat(auto-fill, minmax(290px, 384px));
    justify-content: center;
  }

  .products-item-image {
    height: auto;
  }

  .order {
    padding-bottom: 20px;
  }

  .order-image {
    width: 800px;
  }

  .order-form {
    max-width: 426px;
    margin: 0 auto;
    padding: 20px;
    width: auto;
  }

  .order-form-input {
    max-width: 100%;
    width: auto;
  }

  .order-form-input input {
    width: calc(100% - 2px);
  }

  .order-form-inputs .button {
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .main-title {
    line-height: 75px;
    margin-top: 20px;
    font-size: 65px;
  }

  .common-title {
    line-height: 46px;
    font-size: 36px;
  }

  .footer .container {
    justify-content: center;
    flex-direction: column;
  }

  .rights {
    margin-top: 20px;
  }
}
