@font-face {
  font-family: 'Gilroy';
  src: url("./assets/fonts/Gilroy-Semibold.ttf");
}

@font-face {
  font-family: 'Merriweather';
  src: url("./assets/fonts/Merriweather-Black.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gilroy", sans-serif;
  background-color: #191411;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  background: linear-gradient(95.61deg, #da8023 0%, #e2b438 100%);
  border-radius: 8px;
  line-height: 22px;
  font-weight: 600;
  color: #191411;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  border: 0;
}

button:hover {
  background: linear-gradient(95.61deg, #ac6115 0%, #9e7a19 100%);
}

.common-title {
  font-family: "Merriweather", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 60px;
  text-align: center;
  line-height: 80px;
  font-size: 64px;
}

.common-item-title {
  line-height: 29px;
  font-size: 24px;
  padding: 24px 0;
}

.common-item-text {
  line-height: 22px;
  font-size: 16px;
}